<!DOCTYPE html>
<html lang="en" >
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <title>Reverse Turing Test</title>

  <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>

</head>
<body>

<!-- Navbar -->

  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">

    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-blue">Home</a>

   

  </div>


  <div class="w3-padding-large">

 <div class="w3-row-padding w3-padding-16 w3-center">

        <div class=w3-two-third w3-left-align w3-padding-16>
            <h1 class="w3-text-grey w3-padding-16">Training and Evaluation Session
    
        </div>


  {{message}}

    <form action="{{DIR}}" id="survey_page" method="POST">
      


      <H3>The goal of this training and evaluation session is to provide you with examples </H3>

     

        Performing task: {{task}}
      

      <div >
        <div >
          <H3>Training session</H3>
          {% for n in range(25)%}
            
            {{texts[n]}}
            <br>
            <br>
            <img src={{displays[n]}}>
            <br>
            <label for="question"><b><font style="color:#27AE60; font-size: large;">Model classification of this text</font></b></label><br>
          
            <br>
            <select>

              <option value="{{labels[n]}}">{{labels[n]}}</option>
              
            
            </select>
            <br>
            <br>
            <br>
            <br>
          <br>
          {% endfor %}
        </div>

        <H3>Evaluation session</H3>
        <div >
          {% for n in range(10)%}
            {{testtexts[n]}}

            <br>
            <img src={{testdisplays[n]}}>
            <br>
            <label for="question"><b><font style="color:#27AE60; font-size: large;">How do you think the model would classify this instance?</font></b></label><br>
            <br>
            <select>

              {% for i in dropdown_list %}

                <option value="{{i}}">{{i}}</option>
              {% endfor %}
              
            
            </select>
            <br>
            <br>
            <br>
            <br>
          {% endfor %}
        </div>


      
      <br>
      <br>
      <br>
      
      <H5>Please provide your name. This information will not be shared</H5>

      <div >
        <div >
          <label for="first_name"><b><font style="color:#27AE60; font-size: large;">First name:</font></b><label><br>
          <input type="text" name="first_name" value="{{first_name}}" required>
        </div>

        <div >
          <label for="last_name"><b><font style="color:#27AE60; font-size: large;">Last name:</font></b></label><br>
          <input type="text" name="last_name" value="{{last_name}}" required>
        </div>
      </div>


      <div class="w3-row-padding w3-padding-16 w3-center">
        <input type="submit" id="submitButton" value="Submit your survey" name="submit"

        class="w3-button w3-blue w3-padding-large w3-large w3-margin-top">
      </div>


  </form>

</div>


<footer class="w3-container w3-teal w3-center w3-margin-top">

  <p> <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"></a></p>
</footer>

</body>
</html>